@import url(/css/normalize.css);

/*универсальные классы*/
.wrapper {
    max-width: 1500px;
    margin: 0 auto;
}
.flex-box {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.padding-10 {
    padding: 10px;
    box-sizing: border-box;
}
.padding-30 {
    padding: 30px;
    box-sizing: border-box;
}
.margin-left-30 {
    margin-left: 30px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-100 {
    margin-top: 100px;
}
.align-items-center {
    align-items: center;
}
.space-between {
    width: 100%;
    justify-content: space-between;
    color: black;
}
.text-align-center {
    text-align: center;
}
.text-up {
    text-transform: uppercase;
}
.text-12px {
    font-size: 12px;
}
.text-i {
    font-style: italic;
    color: rgb(90, 90, 90);
}
.is-bold {
    font-weight: bold;
}
.justify-content-center {
    justify-content: center;
}
.btn-10-30 {
    padding: 10px 30px;
    border: 1px solid black;
    display: inline-block;  
    cursor: pointer; 
}
.border-1px {
    border: 1px solid black;
    display: inline-block;   
}
.nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav-white a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/*блок header*/
.header-logo {
    background: url(/img/icons/logo.jpg) center center / contain no-repeat;
    height: 60px;
    width: 60px;
    margin-right: 30px;
}
.header-nav a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    cursor: pointer;
}
.header-account {
    background: url(/img/icons/account.png) center center / contain no-repeat;
}
.header-basket {
    background: url(/img/icons/bascet.png) center center / contain no-repeat;
}
.header-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.header-user a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*блок главная страница*/
[type="email"],
[type="submit"] {
    border: none;
    padding: 10px;
}
[type="submit"] {
    background: orange;
    cursor: pointer;
}
/*
.main-item {
    width: 25%;
}
*/
.main-article {
    width: 25%;
    height: 300px;
    background: gray center center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
/*
.main-photo-rectangle {
    width: 100%;
    min-height: 750px;
}
.main-photo-square {
    width: 100%;
    min-height: 375px;
}
.main-photo-1 {
    background: url(/img/main/1.jpg) center center / cover no-repeat;
}
.main-photo-2 {
    background: url(/img/main/2.jpg) center center / cover no-repeat;
}
.main-photo-3 {
    background: url(/img/main/3.jpg) center center / cover no-repeat;
}
.main-photo-4 {
    background: url(/img/main/4.jpg) center center / cover no-repeat;
}
.main-photo-5 {
    background: url(/img/main/5.jpg) center center / cover no-repeat;
}
.main-photo-6 {
    background: url(/img/main/6.jpg) center center / cover no-repeat;
}
.main-background-light-gray {
    background: rgb(179, 179, 179);
}
.main-background-gray {
    background: gray
}
*/

/*блок каталог товаров*/
.item {
    width: 25%;
    text-align: center;
}
.item-photo img {
    width: 100%;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.pagination > div {
    border: 1px solid black;    
    height: 35px;
    width: 35px;
    background: black;
}
.pagination > .page-active {
    background: white;
    color: black;
}
.amount {
    text-align: center;
    margin: 5px;
    font-size: 14px;
}

/*блок footer*/
.facebook {
    background: url(/img/icons/facebook.svg) center center / contain no-repeat;
}
.instagram {
    background: url(/img/icons/instagram.svg) center center / contain no-repeat;
}
.linkedin {
    background: url(/img/icons/linkedin.svg) center center / contain no-repeat;
}
.footer-social-icon {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.footer-nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: block;
    padding: 5px;
    box-sizing: border-box;
}